body {
    #gform_wrapper_1 {
        label {
            font-size: 12px;
        }
        input[type="text"] {
            width: 100% !important;
        }
        input[type="submit"] {
            -webkit-appearance: none;
            border-radius: 0;
            background-color: $color-green;
            border: 0;
            outline: 0;
            padding: 10px 30px;
            font-size: 14px !important;
            font-weight: 800;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                color: #fff;
                background-color: darken($color-green, 5);
            }
        }
        .gfield {
            margin-top: 0;
        }
        .ginput_container {
            margin: 0;
        }
        .gform_footer p {
            display: none;
        }
    }
}
