footer.main {
	background-color: $color_grey;
	margin-top: 2vw;
	padding: 1vw 0 0;
	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap; // column-count: 4;
	}
	li,
	p {
		font-size: 12px;
		height: auto !important;
		color: #fff;
		line-height: 19px;
	}
	p {
		padding: 0;
		padding-left: 5px;
		margin: 0;
	}

	ul.menu {
		flex-wrap: wrap;
		.menu-item {
			width: 100%;
			height: 30px;
			text-align: left;
			a {
				padding: 0;
				align-items: center;
				height: 100%;
				display: block;
				width: 100%;
				padding-left: 5px;
			}
		}
	}

	.footer-latest a {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		line-height: 19px;
		transition: all 0.2s;
		padding-left: 5px !important;
		&:hover {
			background-color: rgba(#fff, 0.3);
			text-decoration: none;
		}
	}
	label {
		display: none !important;
	}
	input,
	textarea {
		border-radius: 0;
		border: 0;
		outline: 0 !important;
		width: 100% !important;
		-webkit-appearance: none;
	}
	textarea {
		height: 60px !important;
	}
	input[type="submit"] {
		-webkit-appearance: none;
		border-radius: 0;
		background-color: $color-green;
		border: 0;
		outline: 0;
		padding: 4px 0;
		font-size: 12px !important;
		font-weight: 800;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.2s;
		margin-right: 0 !important;
		&:hover {
			background-color: darken($color-green, 10);
			color: #fff;
		}
	}
	.gform_wrapper {
		.gform_body {
			width: 100% !important;
		}
		.gform_footer {
			padding: 0;
			margin-top: 0;
		}
	}
	.gfield {
		margin: 0 !important;
	}
	&.footer-carcare {
		background-color: #000;
		padding: 0;
		margin: 0;
		.footer-subtitle {
			color: $color_yellow;
		}
	}
}

.cien_dol {
	position: absolute;
	bottom: -50px;
	left: -1000px;
	z-index: -1;
	height: 150px;
	width: 3000px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.footer-copyrights {
	background-color: #fff;
	text-align: center;
	padding: 10px 15px;
	font-size: 10px;
	p {
		padding: 0;
		font-size: 10px;
		color: #000 !important;
		&:last-of-type {
			display: inline-block;
		}
	}
	a {
		color: $color_green !important;
		font-size: 10px;
		&:hover {
			color: $color_yellow;
		}
	}
}

body.carcare {

	.footer-copyrights
	a {
		color: #000 !important;
		font-size: 10px;
		&:hover {
			color: $color_green;
		}
	}

}

.footer-subtitle {
	@include heading-style-3;
	text-transform: uppercase;
	color: $color_green;
	margin-bottom: 5px;
	margin-top: 10px;
	&:after {
		// content: '';
		display: block;
		width: 20px;
		height: 3px;
		background-color: $color_green;
		margin-top: 3px;
	}
}

.footer-column {
	width: 20%;
	padding: 5px;
	float: left;
	@include mq(sm) {
		width: 100%;
	}
}