
aside.widget-area {
	@include whiteBox;
	width: 25%;
	padding: 0 15px 30px;
	@include mq(xs) {
		width: 100%;
		order: 1;
		-webkit-order: 1;
		margin-bottom: 2vw;
		max-height: 40px;
		overflow:  hidden;
		transition: max-height 0.2s ease;
		&.active {
			max-height: 2000px;
			transition: max-height 0.2s cubic-bezier(1,0,1,0);
			.widget-area-trigger {
				&::before {
					transform: rotate(270deg);
				}
				&::after {
					transform: rotate(-90deg);
				}
			}
		}
	}

	ul {
		list-style: none;
	}

	.widget-area-trigger {
		display: none;
		width: 100%;
		color: $color_green;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		font-size: 15px;
		cursor: pointer;
		&::before,
		&::after {
			content: '\279C';
			display: inline-block;
			transform: rotate(90deg);
			margin-left: 5px;
			font-weight: normal;
			transition: all 0.2s;
		}
		&::before {
			margin-right: 5px;
			margin-left: 0;
		}
		@include mq(xs) {
			display: block;
		}
	}

	.widget-title {
		color: $color_green;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	.widget.widget_recent_entries .widget-title {
		margin-top: 0;
	}

	form {
		input[type="text"] {
			width: 100%;
			margin: 3px 0;
		}
		input[type="submit"] {
			-webkit-appearance: none;
			border-radius: 0;
			background-color: $color-green;
			border: 0;
			outline: 0;
			padding: 5px 10px;
			font-size: 12px !important;
			font-weight: 800;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.2s;
			margin-right: 0 !important;
			&:hover {
				background-color: darken($color-green, 10);
				color: #fff;
			}
		}
	}
	.post-date {

		font-weight: bold;
		font-size: 10px;
		display: block;
		margin-bottom: 15px;
	}
}