header.main {
	padding-top: $header_height;

}

.main-menu {
	background: rgba($color_grey, 0.1);
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	left: 0;
	transition: background 0.6s;
}

.cien {
	z-index: -1;
	position: absolute;
	height: 305px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.header-content {
	position: relative;
}

#slideshow {
	margin: 0;
	.slideshow-single {
		min-height: 201px;
		position: relative;
		outline: 0;
		&__description {
			position: relative;
			z-index: 1;
			font-size: 22px;
			font-weight: 600;
			color: #000;
			text-shadow: 2px 2px 2px rgba(#000, 0.6);
			max-width: 220px;
			padding-left: 20px;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
}
