.hero-image{
	width: 100%;
	height: 35vw;
	max-height: 450px;
	background-size: cover;
	background-position: center;
	z-index: 11;
	left: 0;
	@include mq(sm) {
		height: 35vh;
		position: relative;
	}
	@include mq(xs) {
		height: 18vh;
	}
	&.not-front {
		margin-bottom: 20px;
	}
	&.invisible {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		@include mq(sm) {
			opacity: 1;
		}
	}
}