.main-menu__logo {
	display: flex;
	align-items: center;
	height: $header_height;
	max-width: 240px;
	width: 15vw;
	@include mq(sm) {
		max-width: 150px;
		width: 100%;
	}
	svg {
		height: 65%;
		max-width: 210px;
	}
}