.main-menu__socials {
	display: flex;
	align-items: center;
	height: $header_height;
	max-width: 240px;
	width: 15vw;
	justify-content: space-between;
	list-style: none;
	@include mq(lg) {
		width: auto;
		max-width: none;
		margin-right: 10px;
		li {
			margin: 0 3px;
		}
	}
	@include mq(md) {
		margin-right: 0;

		li:last-of-type {
			display: none;
		}
	}
	&-wrapper {
		position: absolute;
		right: 0;
		top: $header-height;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		border: 0;
		max-width: 600px;
		transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), opacity 0.2s, border-width 0.3s;
		background-color: #fff;
		@include mq(md) {
			display: none !important;
		}
		&:hover {
			max-height: 999px;
			opacity: 1;
			border-bottom: 2px solid $color_grey;
			border-left: 2px solid $color_grey;
			transition: max-height 0.3s linear, opacity 0.2s, border-width 0.3s, padding 0.2s;
			padding: 5px;
		}
		&:before {
			content: '';
			display: block;
			left: -2px;
			bottom: -2px;
			top: 2px;
			right: 2px;
			background-color: $color_grey;
		}
		ul {
			padding: 15px;
			li {
				padding: 5px 0;
			}
		}
		p {
			padding: 10px;
		}
		#yt-code,
		#face-code {
			p {
				padding: 0 !important;
			}
		}
	}
	&-single {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		position: relative;
		svg {
			width: 50%;
			height: 50%;
			fill: $color_grey;
			transition: all 0.1s;
		}
		&:hover {
			background-color: $color_yellow;
			& + .main-menu__socials-wrapper {
				max-height: 999px;
				opacity: 1;
				border-bottom: 2px solid $color_grey;
				border-left: 2px solid $color_grey;
				transition: max-height 0.3s linear, opacity 0.2s, border-width 0.3s, padding 0.2s;
				padding: 5px;
			}
			svg {
				width: 55%;
				height: 55%;
			}
		}
	}
}

.main-menu.fixed {

	.main-menu__socials {
		&:hover {
			li {
				//background-color: #fff;
			}
		}
		&-single {
			background-color: $color_grey;
			@include mq(md) {
				background-color: #fff;
			}
			svg {
				fill: #fff;
				@include mq(md) {
					fill: $color-grey;
				}
			}
			&:hover {
				background-color: $color_yellow;
			}
		}
	}
}

header {

	.main-menu__socials {

		@include mq(md) {
			position: absolute;
			justify-content: space-around;
			align-items: center;
			right: 0;
			top: $header-height;
			background-color: $color_grey;
			height: 70px;
			max-width: 320px;
			width: auto;
			display: none;
			&::after {
				display: none;
			}
			&.visible {
				display: flex;
			}
		}
		@include mq(md) {
			position: relative;
			width: 100%;
			max-width: none;
			top: 0;
		}
		li {
			@include mq(md) {
				margin: 0 5px;
			}
		}
	}
}

footer {
	.main-menu__socials {
		margin: 0;
		justify-content: space-around;
		max-width: none;
		width: 100%;
		li:last-of-type {
			display: none;
		}
	}
}