.main-menu {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	@include mq(md) {
		flex-wrap: wrap;
		overflow-y: auto;
		max-height: 100vh;
	}
	&.fixed {
		background: #fff;
		box-shadow: 0 3px 5px 5px rgba(#000, 0.5);

	}
}
