.menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;

	@include mq(md) {

		width: 100%;
		background: $color_grey;
		display: none;
		flex-direction: column;
		padding-right: 0;
		&.visible {
			display: flex;
		}
	}
	&-item {
		position: relative;
		transition: all 0.3s;
		margin: 0;
		color: #fff;
		height: $header-height;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 0.7vw;
		cursor: pointer;
		@include mq(lg) {
			flex-direction: column;
			padding: 6px 1vw 1px;
			text-align: center;
		}
		@include mq(md) {
			height: auto;
			flex-direction: row;
			padding: 0;
			width: 100%;
			justify-content: center;
		}
		&:before {
			transition: all 0.3s;
			margin-right: -20px;
			@include mq(lg) {
				margin-right: 0;
			}
			@include mq(md) {
				margin-right: 10px;
			}
		}
		a {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-family: $ff1;
			color: #fff;
			text-decoration: none;
			transition: all 0.3s;
			//margin-left: 0.3vw;
			padding-left: 23px;
			height: 100%;
			@include mq(lg) {
				margin-left: 0;
				padding: 13px 0;
			}
		}
		&:hover {
			background-color: rgba(#fff, 0.3);
			&:before,
			a {
				opacity: 1 !important;
				color: #fff !important;
			}
			.sub-menu {
				@include mq(md) {
					@include stateclosed;
				}

				@include stateopen;
				a {
					color: #fff;
				}
			}
		}
		&.fa-car {

			&:before {
				color: $color_yellow_darken;
			}
			&:hover {
				background-color: $color_yellow !important;
				&:before,
				a {
					opacity: 1 !important;
					color: $color_grey !important;
				}
				.sub-menu {
					@include stateopen;
					a {
						color: $color_grey;
					}
				}
			}
		}

		&.fa-leaf {
			&:before {
				color: $color_green !important;
			}
		}

		&-has-children {

			@include mq(md) {
				flex-wrap: wrap;
				a {
					//pointer-events: none;
				}

				.sub-menu {
					a {
						justify-content: center;
						font-style: italic;
						padding-left: 10px;
						padding-right: 10px;
						width: 100%;
						font-size: 12px;

					}
				}
				.sub-menu.active {
					@include stateopen;
				}
			}
		}

	}
}

.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	background-color: $color_grey;
	transition: max-height 0.6s cubic-bezier(0, 1, 0, 1), opacity 0.2s;
	@include mq(md) {
		top: 0;
		position: relative;
		width: 100%;
	}
	.menu-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		white-space: nowrap;
		cursor: pointer;

		@include mq(lg) {
			flex-direction: row;
		}
		a:hover {
			color: #fff;
		}
	}
}

.main-menu.fixed {
	.menu-item {
		&:before {
			color: $color_grey;
			@include mq(md) {
				color: #fff;
			}
		}
		&:hover {
			background-color: rgba($color_green, 1);
			&:before {
				color: #fff;
			}
		}
		a {
			color: $color_grey;
			@include mq(md) {
				color: #fff;
			}
			&:hover {
				color: #fff;
			}
		}
		&.fa-car {
			background-color: $color_grey;
			&:before,
			a {
				opacity: 1 !important;
				color: #fff !important;
			}
			&:hover {
				background-color: $color_yellow !important;
				&:before,
				a {
					opacity: 1 !important;
					color: $color_grey !important;
				}
				.sub-menu {
					@include stateopen;
					a {
						color: $color_grey;
					}
				}
			}
		}
	}
}

.footer-column {
	.menu {
		display: flex;
		background: transparent;
		.menu-item {
			justify-content: flex-start;
			flex-direction: row;
			padding-left: 0;
			a {
				padding-left: 0;
				font-size: 12px;
				white-space: nowrap;
				&:hover {
					background: transparent !important;
				}
			}
		}
	}
}

body.carcare {
	.header-carcare {
		.main-menu {
			background-color: #000;
			.menu-item {
				&:before,
				a {
					color: #fff;
				}
				&:hover {
					background-color: $color_yellow;
					&:before,
					& > a {
						color: $color_grey !important;
					}
				}
			}
		}
		.sub-menu {

			.menu-item {
				a {
					color: #fff !important;
				}
				&:hover {
					& > a {
						color: $color_grey;
					}
				}
			}
		}
	}
}
