.video-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 35vw;
	max-height: 450px;
	overflow: hidden;
	@include mq (md) {
		max-height: 350px;
	}
	@include mq (sm) {
		max-height: 140px;
		display: none;
	}
	&_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1440px;
		margin: 0 auto;
		box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.5);
	}
	&_link {
		display: block;
		width: 100px;
		height: 30px;
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 10;
		transition: transform 0.3s;
		img {
			width: 100%;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
	&_youtube {
		position: absolute;
		right: 20px;
		bottom: 5px;
		font-size: 15px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
		z-index: 10;
		transition: all 0.3s;
		text-decoration: none;
		&:before {
			content: '\f167';
			font-family: FontAwesome;
			margin-right: 7px;
			color: #b31217;
			font-size: 25px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		}
		&:hover {
			color: #fff;
			right: 30px;
			text-decoration: none;
		}
	}
}