.accordion {
	&-element {
		border-top: 1px solid $color_green;
		margin-top: -1px;
		//max-width: 500px;
		//margin: 0 auto;
		&:last-of-type {
			border-bottom: 1px solid $color_green;
		}
		&__title {
			color: $color_green;
			cursor: pointer;
			text-transform: uppercase;
			font-weight: 700;
			padding: 20px 20px 20px 48px;
			position: relative;
			&:hover {
				.accordion-icon {
					border-color: $color_green;
					&:before {
						transform: rotate(0deg) scale(1.2);
						opacity: 1;
					}
					&:after {
						transform: rotate(-90deg) scale(1.2);
					}
				}
			}
		}
		&__content {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: max-height 0.4s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
			padding-left: 48px;
			transform: translateY(-20px);
			p{
				padding: 20px 5px 10px;
			}
			&:after {
				content: '';
				display: block;
				height: 14px;
				background-color: transparent;
			}
			*:last-of-type {
				margin-bottom: 0;
			}
		}
		&.active {
			.accordion-element__title {
				.accordion-icon {
					&:after {
						transform: rotate(-90deg);
						opacity: 0;
					}
				}
			}
			.accordion-element__content {
				max-height: 1000px;
				opacity: 1;
				transition: max-height 0.2s ease-in-out;
			}
		}
		& + .accordion:last-of-type {
			&-element {
				&__title {
					border-bottom: 2px solid $color_green;
				}
			}
		}
	}
}

.accordion-icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0;
	top: 50%;
	transition: all 0.1s;
	transform: translateY(-50%);
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: -10px;
		width: 14px;
		height: 3px;
		margin-top: -2px;
		background-color: $color_green;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}
	&:before {
		transform: rotate(0deg);
		opacity: 1;
	}
	&:after {
		transform: rotate(-90deg);
	}
}

body.carcare {
	.accordion {
		&-element {
			border-top: 1px solid $color_yellow;
			&:last-of-type {
				border-bottom: 1px solid $color_yellow;
			}
			&__title {
				color: $color_yellow;
				&:hover {
					.accordion-icon {
						border-color: $color_yellow;
					}
				}
			}
			&__content {
				color: #fff;
			}
		}
		& + .accordion:last-of-type {
			&-element {
				&__title {
					border-bottom: 2px solid $color_yellow;
				}
			}
		}
	}

	.accordion-icon {
		&:before,
		&:after {
			background-color: $color_yellow;
		}
	}
}