body {
	.validation_error {
		display: none !important;
	}
	.gfield {
		padding: 0 !important;
	}
	.gfield_error {
		// background: transparent !important;
		// border: 0!important;
		// border-bottom: 1px solid red;
	}
	.gform_wrapper {
		margin: 0;
		h3 {
			text-transform: uppercase;
			margin: 0 !important;
		}
		p,
		& + p {
			padding: 0;
		}
		.gform_body {
			width: 100% !important;
		}
		.gform_heading {
			margin-bottom: 0;
		}
		.gform_footer {
			padding: 0;
		}
	}
	.gfield_description.validation_message {
		padding-top: 0 !important;
	}
}
