.menu-cennik {
	margin: 1vw 0;
	display: flex;
	justify-content: space-between;
	@include mq(sm) {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	&__single {
		text-align: center;
		padding: 1.2%;
		@include greenBox();
		float: left;
		width: 24%;
		text-decoration: none;
		transition: all 0.3s;
		opacity: 0;
		@include mq(sm) {
			width: 100%;
			margin-bottom: 5px;
			display: flex;
			align-items: center;
			height: 60px;
		}
		&:nth-of-type(even) {
			@include greyBox();
			.menu-cennik__single-title {
				color: $color_green;
			}
		}
		&.visible {
			opacity: 1;
		}
		&-title {
			display: block;
			color: $color_grey;
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
			text-align: center;
			font-size: 14px;
			text-shadow: 1px 1px 2px rgba($color_shadow, 0.5);
			margin-bottom: 10px;
			@include mq(md) {
				margin: 0;
				font-size: 11px;
				-webkit-order: 2;
				order: 2;
				margin-top: 2px;
			}
			@include mq(sm) {
				font-size: 14px
			}
		}
		&-image {
			width: 35%;
			height: auto;
			fill: #fff;
			transition: all 0.3s;
			@include mq(sm) {
				-webkit-order: 1;
				order: 1;
				margin: 0;
				margin-right: 10px;
				width: 30px;
				display: inline-block;
			}
		}
		&:hover {
			text-decoration: none;
			.menu-cennik__single-image {
				transform: scale(1.1);
				@include mq(md) {
					transform: scale(1.05);
				}
			}
		}
	}
	& + .content-container .gca-column {
		margin-top: 0;
	}
}

// Style dla białych kwadratów na home
body.page-id-4 .menu-cennik__single {
	white-space: nowrap;
	@include whiteBox();
	&-image {
		fill: $color_grey;
	}
	.menu-cennik__single-title {
		color: $color_grey;
	}
	&:hover {
		background-color: $color_green;
		.menu-cennik__single-title {
			color: #fff;
		}
		.menu-cennik__single-image {
			fill: #fff;
			transform: scale(1.2);
		}
	}
	&:nth-of-type(2) {
		svg {
			max-height: 90px;
		}
	}

	// Different color for one of the boxes

	//&:nth-of-type(4) {
	//	background-color: $color_grey;
	//	.menu-cennik__single-title {
	//		color: #fff;
	//	}
	//	.menu-cennik__single-image {
	//		fill: #fff;
	//	}
	//	&:hover {
	//		background-color: $color_yellow;
	//		.menu-cennik__single-title {
	//			color: $color_grey;
	//		}
	//		.menu-cennik__single-image {
	//			fill: $color_grey;
	//		}
	//	}
	//}
}
