.responsive-menu-trigger {
	@include center-vrt;
	position: absolute;
	width: 50px;
	height: 45px;
	right: 20px;
	display: none;
	background-color: $color-grey;
	padding: 0 10px;
	@include mq(md) {
		display: block;
		top: 30px;
	}
	&:after {
		content: '';
		position: absolute;
		@include center;
		background-color: #fff;
		display: block;
		height: 4px;
		width: 30px;
		border-radius: 1px;
		box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
	}
}
.main-menu.fixed {
	.responsive-menu-trigger {

		background-color: transparent;
		&:after {
			background-color: $color_grey;
			box-shadow: 0 10px 0 $color_grey, 0 -10px 0 $color_grey;
		}
		
	}
}

.carcare {
	.main-menu .responsive-menu-trigger {

		background-color: transparent;
		&:after {
			background-color: #fff;
			box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
		}
	}
}