.slick-dots {
	display: flex !important;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	list-style: none;
	@include mq(md){
		//bottom: 50%;
	}
	button {
		-webkit-appearance: none;
		border: 0;
		outline: 0;
		background-color: rgba(#fff, 0.5);
		border-radius: 50%;
		font-size: 0;
		display: block;
		padding: 7px;
		margin: 0 3px;
		transition: all 0.3s;
	}
	.slick-active{
		button{
			background-color: #fff;
		}
	}
}