.slick-slide {
	outline: 0;
}

.slider-fade {
	.slider-single {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100px;
		outline: 0;
	}
}

.home-sliders {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.slider-title {
	color: $color_grey;
	font-weight: bold;
	font-size: 20px;
    margin-bottom: 20px;
    display: block;
	@include mq(sm) {
		font-size: 16px;
	}
}

.slider-testimonials,
.slider-icons {
	position: relative;
	@include whiteBox; // @include greyBox;
	width: calc(50% - 0.5vw);
	color: #fff;
	@include mq(sm) {
		width: 100%;
		padding: 20px 0;;
	}
}

.slider-icons {
	// @include greenBox;
	display: flex;
	align-items: center;
	justify-content: space-around;
    padding-bottom: 20px;
	&--wrapper {
		width: 40%;
		text-align: center;
	}
	@include mq(sm) {
		border-top: 1px solid rgba(#000, 0.5);
	}
}

.slider-srodki,
.slider-sprzet {
	.slick-track {
		display: flex !important;
		align-items: center !important;
		align-content: center !important;

	}
	.slider-single {
		margin: 0 5px;
        text-align: center;
        img {
            margin: 0 auto;
        }
	}
}

.slider-scroll {
	.slick-track {
		display: flex !important;
		align-items: center !important;
	}
	.blockquote {
		&-content {
			font-weight: 800;
			font-size: 20px;
			text-align: center;
			color: $color_grey;
			font-style: italic;
			word-wrap: break-word;
			&:before,
			&:after {
				content: '"';
			}
			@include mq(sm) {
				font-size: 16px;
			}
		}
		&-author {
			display: block;
			text-align: right;
			font-size: 13px;
			color: $color_grey;
		}
	}
}
