.carcare-image {
    overflow: hidden;

    video {
        opacity: 0;
        transition: opacity .2s;

        &.changed {
            opacity: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
