/* ==========================================================================
	Base
/* ========================================================================== */

html {
	height: auto;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

html,
button,
input,
select,
textarea {
	font-family: $ff1;
	color: $color_body_copy;
}

body {
	margin: 0;
	padding: 0;
	font-size: $size_base;
	line-height: 1.4;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	position: relative;
	@include mq(sm) {
		font-size: 12px;
		line-height: 1.15;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: url(images/trawa.jpg);
		z-index: -1;
	}
}

#page {
	min-height: 100vh;
	&::after{
		top: 0;
		left: 0;
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		height: 305px;
		width: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
	}
}

* {
	&,
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.gm-style img {
	max-width: none;
}

/* ==========================================================================
	Links
/* ========================================================================== */

a {
	color: currentColor;
	text-decoration: none;
	img {
		border: 0;
	}
}

a:focus,
a:hover {
	color: $color_green;
}
body.carcare {
	a:focus,
	a:hover {
		color: #898989;
	}
}
a:focus {
	outline: 0;
}

a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 $size_base;
	line-height: $size_base * 1.5;
}

h1 {
	font-size: $size_base * 2;
}

h2 {
	font-size: $size_base * 1.5;
	@include mq(sm) {
		font-size: 20px;
	}
}

h3 {
	font-size: $size_base * 1.3;
}

@mixin heading-style-3 {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	font-weight: 800;
	letter-spacing: 1px;
}

h4 {
	font-size: $size_base * 1.3;
	font-weight: normal;
}

h5,
h6 {
	font-size: $size_base * 1.1;
}

/* Content Block Elements */

dl,
menu,
ol,
ul,
p,
pre {
	margin: 0;
	padding: 0 0 $size_base;
}

/* Lists */

menu,
ol,
ul {
	padding: 0;
	li {
		margin-bottom: 2%;
	}
	a {
		text-decoration: none;
	}
}

/* Selection Colors */

::-moz-selection {
	background: $color_body_copy;
	color: $color_opposite;
	text-shadow: none;
}

::selection {
	background: $color_body_copy;
	color: $color_opposite;
	text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */

/* Prefixed with tags to override default tag styling for these elemets if .button is added */

button,
.button,
a.button,
input.button {
	display: inline-block;
}

/* Responsive Media Styles */

.media img,
.media video,
.media object,
.media iframe {
	width: 100%;
	height: auto;
}

/* Clear Fix */

.clearfix,
.cf {
	@include cf();
}

/* Floats */

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.alignleft {
	float: left;
	margin: 0 $margin $margin 0;
}

.alignright {
	float: right;
	margin: 0 0 $margin $margin;
}

.alignnone {
	display: inline-block;
}

.aligncenter {
	display: block;
	float: none;
	text-align: center;
	clear: both;
	margin: 10px auto;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */

.container {
	width: 100%;
	max-width: $container_width;
	padding: 0 $container_padding;
	margin: 0 auto;
	@include cf();
	@include mq(sm) {
		padding: 0 10px;
	}
}

.error404 {
	text-align: center;
	ul {
		text-align: left;
	}
}

.content.full-width,
.full-width {
	float: none;
	width: 100%;
}

.article {
	margin-bottom: $size_base;
}

/* Navigation */

nav {
	& > ul {
		margin: 0;
		padding: 0;
	}
	ul {
		@include cf();
	}
}

/* Paginations */

.navigation.pagination {
	clear: both;
}

.mobile-hidden {
	@include mq(sm) {
		display: none;
	}
}

.btn {
	-webkit-appearance: none;
	font-weight: bold;
	padding: 8px 19px 10px 20px;
	color: $color-grey;
	border-radius: 20px;
	transition: background-color .2s;
	width: 150px;
	margin: 0 auto;
	border: 1px solid $color-grey;
	font-size: 14px;
	@include mq(md) {
		padding: 9px 19px 8px 20px;
	}
	&:hover,
	&:focus {
		outline: none !important;
		box-shadow: none !important;
		color: #fff;
	}

	&.btn-yellow {
		display: inline-block;
		background: $color_yellow;
		border-radius: 0;
		color: #000;
		margin: 10px 0;
		border : 0;
		width: auto;
		&:hover {
			background: $color_yellow_darken;
			color: $color-grey;
		}
	}

	&.btn-green {
		display: inline-block;
		background: $color_green;
		border-radius: 0;
		color: #000;
		margin: 0 10px;
		border : 0;
		width: auto;
		&:hover {
			background: $color_yellow_darken;
		}

		&--small {
			border-radius: 0;
			background-color: #a5ce3a;
			border: 0;
			outline: 0;
			padding: 3px 28px;
			font-size: 12px !important;
			font-weight: 800;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.2s;
			margin-right: 0 !important;
		}
	}

}

.entry {
	width: 100%;
	h1 {
		margin-bottom: 0;
		margin-top: 15px;
	}
}

iframe {
	max-width: 100%;
	max-height: 50vw;
	margin: 0 auto;
	display: block;

}
