.tab-click {
	position: fixed;
	transition: right 0.3s;
	right: -292px;
	.tab-forbg {
		transition: background-position 0.3s;
	}
	&:hover {
		.tab-forbg {
			background-position: 0 10px !important;
		}
	}
}

#google-slider {
	top: 61px;
	z-index: 22;
	&.active {
		right: 0;
	}
	#google-tab {
		cursor: pointer;
		height: 135px;
		width: 51px;
		float: left;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 55px 41px;
		background-position: 10px 10px;
	}
}

.logoeco {
	position: absolute;
	left: 10px;
	top: 0;
	&-wrapper {
		position: fixed;
		top: 0px;
	}
	img {
		width: 100px;
		height: 478px;
	}
}

body {
	.content-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		opacity: 0;
		transition: all 0.3s;
		&.visible {
			opacity: 1;
		}
		p {
			width: 100%;
		}
		ol {
			counter-reset: my-badass-counter;
			list-style: none;
			li:before {
				content: counter(my-badass-counter);
				counter-increment: my-badass-counter;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				color: #fff;
				font-weight: bold;
				margin-right: 15px;
				background-color: $color_green;
				display: flex;
				justify-content: center;
				align-items: center;
				float: left;
				box-shadow: grey 1px 1px;
			}
		}

	}
	&.default,
	&.single-post {
		.content-container {
			margin-top: 20px;
			padding: 20px;
			@include whiteBox;
		}
	}
	.tablepress-table-name {
		display: none;
	}
	table {
		.column-2 {
			white-space: nowrap;
			font-weight: bold;
		}
	}
	.gca-column {
		@include whiteBox();
		margin: 1vw 0 1vw;
		padding: 2vw 3vw;
		position: relative;
		@include mq (sm) {
			padding: 15px 20px;
		}
		&.one-half {
			width: calc(50% - 0.5vw);
			@include mq (md) {
				width: 100%;
			}
		}
		&.center-content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		&.first {
			// @include greenBox();
		}
	}
	.custom-grid {
		@include whiteBox();
		margin: 1% 0;
		padding: 2% 3%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.custom-column {
			margin: 20px 0;
			padding: 0 10px;
			&-1 {
				width: 100%;
			}
			&-2 {
				width: 50%;
				@include mq(md) {
					width: 100%;
					text-align: center;
				}
			}
			&-3 {
				width: 33.333%;
				@include mq(md) {
					width: 100%;
					text-align: center;
				}
			}
			&-4 {
				width: 25%;
				@include mq(md) {
					width: 100%;
					text-align: center;
				}
			}
			&-5 {
				width: 20%;
			}
			&-6 {
				width: 16.666%;
			}
			&-7 {
				width: 14%;
			}
			&-8 {
				width: 12%;
			}
		}
		.image-description {
			display: block;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			margin-top: 5px;
		}
	}
}

table.tablepress {
	width: 90%;
	margin: 0 auto 20px;
	tr.odd,
	tr.even {
		td {
			background-color: transparent;
			color: $color_grey;
		}
		color: #fff;
		&:hover {
			td {
				background-color: $color_green !important;
				color: $color_grey;
			}
			code {
				color: $color_grey;
			}
		}
	}
	.column-2 {
		text-align: right;
	}
	em {
		font-size: 12px;
	}
	code {
		color: $color_green;
		font-family: inherit;
		font-size: 14px;
	}

	a {
		text-decoration: underline;
		color: inherit;
		&:hover {
			color: #000;
		}
	}
}

body.carcare {
	.tablepress {
		tr.odd,
		tr.even {
			td {
				background-color: transparent;
				color: $color_grey;
			}
			color: #fff;
			&:hover {
				td {
					background-color: $color_yellow !important;
					color: $color_grey;
				}
			}
		}
	}

	input[type="submit"] {
		background-color: $color_yellow !important;
		&:hover {
			color: initial !important;
			background-color: darken($color_yellow, 15) !important;
		}
	}
}

.entry,
.post {

	header {
		margin-bottom: 20px;
	}
	.date {
		display: inline-block;
		padding: 2px 5px;
		background-color: rgba($color_yellow_darken, 0.5);
		font-size: 12px;
		font-weight: bold;
	}
	.author {
		display: inline-block;
		vertical-align: bottom;
		font-size: 10px;
		&::before {
			content: 'Przez: ';
		}
	}
}
