// ==========================================================================
//	Variables
// ==========================================================================

// Colors
$color_body_copy: #000;
$color_link: #26527c;
$color_opposite: #fff;

$color_shadow: #545454;
$color_grey: #414042;
$color_grey_light: #e2e2e2;
$color_green: #a5ce3a;
$color_yellow: #fde434;
$color_yellow_darken: darken(#fde434, 5);

// Font Sizes
$ff1: 'Comfortaa', sans-serif;
$size_base: 1em;

// Layout
$container_width: 1440px;
$container_padding: 20px;

$header_height: 60px;

// Content Images
$margin: 20px;

// Fallbacks / browser support
$ie8-support: true;
$ie8-class: '.ie8';
$pie: 'pie/PIE.htc';

// ==========================================================================
//	Media queries
// ==========================================================================

// Custom breakpoints
$custom-breakpoints: (
		lg: 1366px,
		md: 1024px,
		sm: 768px,
		xs: 560px
);

$breakpoints: $custom-breakpoints;

// ==========================================================================
//	Images
// ==========================================================================

// Uncomment when using sprites:
//@import 'images/sprites/*.png';
//@include all-sprites-sprites;
//$sprites-map: $sprites-sprites;
//$sprites-name: 'sprites';

// Uncomment when using sprites for retina images:
//@import 'images/sprites2x/*.png';
//@include all-sprites2x-sprites;
//$retina-sprites-map: $sprites2x-sprites;

// Uncomment when using sprites fallback for IE8:
//@import 'images/ie8sprites/*.png';
//@include all-ie8sprites-sprites;
//$ie8-sprites-name: 'ie8sprites';

// Project supports:

$sprites: false;
$retina: false;
$ie8-img-fallback-sprites: false;

// Paths:

$images-path: 'images/';
$retina-path: 'images/retina/';
$ie8-img-path: 'images/ie8/';
$ie9-img-path: 'images/ie9';
