body.search,
body.archive,
body.blog {

	.gca-column {
		background: transparent;
		box-shadow: none;
	}
	header.main {
		margin-bottom: 20px;
	}
	section.main > div.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include mq(xs) {
			flex-wrap: wrap;
		}
		&::after {
			display: none;
		}
	}
	main.content {
		@include whiteBox;
		width: 74%;
		padding: 0 3.5vw 2vw;
		@include mq(xs) {
			width: 100%;
			order: 2;
			-webkit-order: 2;
		}
	}

	.post-title {
		margin-bottom: 0;
		margin-top: 15px;
	}

	.post-entry {
		a {
			color: $color_green;
			&:hover {
				font-weight: bold;
			}
		}
	}

	iframe {
		max-width: 100%;
	}
}