$shadow: 2px 2px 5px 5px rgba(#000, 0.3);

body.carcare {
	&:before {
		content: '';
		position: fixed;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.cien {
		display: none;
	}
	.main {
		& > .container {
			padding: 0;
			margin: 0 auto;
			//max-width: 1440px;
			max-width: none;
			box-shadow: 0 0 30px rgba(#000, 0.75);
		}
	}

	.main-menu.fixed .main-menu__socials:hover > li {
		background: #000;
		@include mq(md) {
			background: transparent;
		}
	}
	.contact-map {
		margin: 0;
		margin-bottom: 2vw;
	}
	input[type="submit"]:hover {
		background-color: darken($color_green, 10) !important;
	}
	.gform_body {
		width: 100% !important;
	}
}

.content--carcare {
	max-width: 1440px;
	margin: 0 auto;
	.carcare-boxes {
		width: 100%;
	}
	.carcare-image {
		position: relative;
		width: 49%;
		min-height: 300px;
		-webkit-order: 1;
		order: 1;
		overflow: hidden;
		@include mq(sm) {
			max-height: 30vh;
			width: 100%;
		}
		&__wrapper {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			transition: all 0.3s;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		&--slider {
			height: 100%;
			.slick-list,
			.slick-track,
			&-single {
				height: 100%;
				position: relative;
			}
			&-single {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				min-height: 300px;
			}
		}
		img {
			object-fit: cover;
			font-family: 'object-fit: cover';
			width: 100%;
			height: 100%;
			max-width: none;
		}
	}
	.carcare-content-wrapper {
		box-shadow: $shadow;
		width: 49%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		flex-wrap: wrap;
		background-color: rgba($color_grey_light, 0.85);
		-webkit-order: 2;
		order: 2;
		transition: all 0.3s;
		color: $color_grey;
		font-size: 18px;

		@include mq(md) {
			font-size: 12px;
			line-height: 2;

		}
		@include mq(sm) {
			width: 100%;

		}
		h2 {
			font-size: 20px;
			width: 100%;
			letter-spacing: 1px;
		}
	}
	.carcare-single {
		display: flex;
		justify-content: space-between;
		opacity: 0;
		transition: opacity 0.2s;
		margin-bottom: 2vw;
		&:first-of-type {
			padding-top: 2vw;
		}
		&.visible {
			opacity: 1;
		}
		//max-height: 300px;
		@include mq(sm) {
			flex-wrap: wrap;
			margin-bottom: 7vw;
		}
		&.fullwidth {
			h2 {
				color: #fff;
				padding-top: 2vw;
				font-size: 21px;
			}
			.carcare-content-wrapper {
				background-color: $color_grey;
				width: 100%;
				margin: 0 auto;
				padding-bottom: 2vw;
			}
			.carcare-image {
				display: none;
			}
		}
		& > a {
			display: flex;
			justify-content: space-between;
			width: 100%;
			@include mq(sm) {
				flex-wrap: wrap;
			}

			&:hover {
				.carcare-image img {
					//transform: translate(-50%, -50%) scale(1.05);
				}
				.btn {
					border-color: $color-grey;
					background-color: #000;
					//background-color: $color-grey;
					color: $color-yellow;
				}
				.carcare-image__wrapper {
					transform: scale(1.05);
				}
			}
		}

		&:nth-of-type(odd) {
			.carcare-image {
				-webkit-order: 2;
				order: 2;
				@include mq (sm) {
					-webkit-order: 1;
					order: 1;
				}
			}
			.carcare-content-wrapper {
				-webkit-order: 1;
				order: 1;
				@include mq (sm) {
					-webkit-order: 2;
					order: 2;
				}
			}
		}
	}
}