body.default {
	h1 {
		width: 100%;
		text-align: center;
	}
	section.main {

		.gform_wrapper {
			width: 50%;
			margin: 0 auto;
			@include mq(md) {
				width: 100%;
			}
			.ginput_right,
			.ginput_left {
				width: 100%;
				margin: 0 !important;
				padding: 0 !important;
			}
			input {
				width: 100% !important;
				&[type="submit"] {
					width: 50% !important;
					margin: 0 auto !important;
					-webkit-appearance: none;
					border-radius: 0;
					background-color: $color-green;
					border: 0;
					outline: 0;
					padding: 5px 10px;
					font-size: 12px !important;
					font-weight: 800;
					text-transform: uppercase;
					cursor: pointer;
					transition: all 0.2s;
					margin-right: 0 !important;
					&:hover {
						background-color: darken($color-green, 10);
						color: #fff;
					}
				}
				& + label {
					display: none !important;
				}
			}
		}
	}
	.gform_wrapper .ginput_complex .ginput_full,
	.gform_wrapper .ginput_complex .ginput_left,
	.gform_wrapper .ginput_complex .ginput_right {
		display: block;
	}
}
