.zerozl {
	padding: 2vw 10% !important;
	@include mq(lg) {
		padding: 2vw 5vw !important;
	}
	@include mq(md) {
		padding: 2vw 20vw !important;
	}
	p {
		@include mq(sm) {
			float: none !important;
			text-align: center !important;
			span {
				font-size: 16px !important;
			}
			&:nth-of-type(1) {
				padding: 0;
			}
			&:nth-of-type(2),
			&:nth-of-type(7) {
				display: none;
			}
			&:nth-of-type(9) {
				a {
					font-size: 25px !important;
					text-align: center;
				}
			}
		}
	}
	.alignleft {
		@include mq(sm) {
			float: none;
		}
	}
	img {
		@include mq(sm) {
			margin: 0 auto;
			max-width: 100px;
		}
		&.phone {
			margin-right: 5px;
			vertical-align: baseline;
		}
	}
}