body.single {

	section.main > div.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include mq(xs) {
			flex-wrap: wrap;
		}
		&::after {
			display: none;
		}
	}

	main.content {
		@include whiteBox;
		width: 74%;
		padding: 0 3.5vw 2vw;
		margin: 0;
		@include mq(xs) {
			width: 100%;
			order: 2;
			-webkit-order: 2;
		}
	}

	.gca-column {
		background: transparent;
		box-shadow: none;
	}
}